p {
	color: #777777;
}
hr{
  border: 2px solid #8EA6E6;
  width: 60px;
}
.home-block {
	padding: 35vh 0;
}
.home-block h2 {
	font-size: 36px;
}
p.block-title{
	color: #000000;
	font-size: 20px;
	letter-spacing: 2px;
	font-weight: 700;
	padding: 150px 0 20px;
}
p.block-title.text-white {
	color: #ffffff;
	padding: 0px 0 20px;
}
#testimonial p.block-title{
	color: #000000;
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: 700;
	padding: 50px 0 20px;
}
#footer.bg-dark {
	background: #000000;
}