.home-default {  
  padding: 200px 0 0;
}
p {
  color: #777777;
  line-height: 28px;
}
#features i {
  font-size: 72px;
  color: #00C2E5;
}
#features p {
  margin-bottom: 50px;
}
#subscribe {
  padding-top: 100px;
  padding-bottom: 100px;
}

